$clr-date: #868383;
$border-rgba: rgba(173, 173, 173, 0.5);
$border-radius-1: var(--border-radius-1);
$hover-bg: var(--hover-bg);

.card__container {
  height: 200px;
  display: flex;
  flex-direction: column;

  border: 1px $border-rgba solid;
  border-radius: $border-radius-1;

  .card__travel {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    border-radius: inherit;

    &:hover {
      background: $hover-bg;
    }
  }
}

.card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__title {
    margin-block-end: 0.5rem;
  }

  &__dates {
    font-size: 0.9rem;
    color: $clr-date
  }
}

.card__actions {
  align-self: flex-end;
  margin-block-start: auto;
}
