<div class="dv__header">
  <h2 mat-dialog-title>{{ documents[selectedIndex].type | titlecase }}</h2>

  @if (documents && documents.length > 1) {

    <div class="dv__controls">
      <div>
        <button mat-icon-button (click)="prevDocument()" [disabled]="selectedIndex === 0">
          <mat-icon>{{ Icons.CHEVRON_LEFT }}</mat-icon>
        </button>

        <button mat-icon-button (click)="nextDocument()" [disabled]="selectedIndex === documents.length - 1">
          <mat-icon>{{ Icons.CHEVRON_RIGHT }}</mat-icon>
        </button>
      </div>
    </div>
  }

</div>

<mat-dialog-content>

  @if (isImage) {
    <div>
      <img [src]="documents[selectedIndex].content" alt="Document Image">
    </div>
  }
  <!--  TODO read pdf-->
  <!--  <div *ngIf="isPDF">-->
  <!--    <object [data]="documents[selectedIndex].content | safeUrl" type="application/pdf"></object>-->
  <!--  </div>-->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
