@if (travel) {

  <app-header [title]="travel.name" [isBackNavigation]="true"/>

  <div cdkDropList
       (cdkDropListDropped)="drop($event)"
       [cdkDropListDisabled]="travel.steps.length < 2"
  >
    @for (step of travel.steps;track step) {
      <div
        cdkDrag
        [cdkDragData]="step"
      >
        {{ step.index + 1 }} {{ step.label }}

        <!-- TODO Button view location into the map-->

        <!--        Ellips button with multiple actions-->
        <!--        TODO FIX when update index and delete the layout do not update with new list -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Step action menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openInTheMap(step.id)">
            <mat-icon>map</mat-icon>
            <span>View map</span>
          </button>
          <button mat-menu-item (click)="edit(step.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete(step.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

        <button *ngIf="travel.steps.length > 1" cdkDragHandle mat-icon-button>
          <mat-icon>{{ Icons.MENU }}</mat-icon>
        </button>
      </div>
    }
  </div>

  <button type="button" mat-icon-button routerLink="add-step" color="primary">
    <mat-icon>add</mat-icon>
  </button>

  <!-- TODO button view travel on the map-->

}
