<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="label">
  </mat-form-field>


  <!--    Date range   -->
  <!--  TODO may be split date and time -->
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput type="datetime-local" formControlName="dateStart" placeholder="Start date">
  </mat-form-field>

  <!--  TODO optional end date-->

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput type="datetime-local" formControlName="dateEnd" placeholder="End date">
  </mat-form-field>


  <div formGroupName="location">
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input type="number" matInput aria-label="latitude" formControlName="lat">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input type="number" matInput aria-label="Longitude" formControlName="lng">
    </mat-form-field>

  </div>

  <div class="search__address">
    <span (click)="toggleDisplayLocationInput()">Search with address</span>

    @if (isDisplayedLocationInput) {
      <mat-form-field @expandCollapse>
        <mat-label>Search with address</mat-label>
        <input matInput
               aria-label="Location"
               formControlName="locationAddress"
               [matAutocomplete]="auto"
        >
      </mat-form-field>
      <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onOptionAddressSelected($event)"
      >
        @for (address of addresses$ | async;track address) {
          <mat-option [value]="address">{{ address.fullAddress }}</mat-option>
        }
      </mat-autocomplete>
    }
  </div>


  <!--    Description    -->
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
  </mat-form-field>

  <!--  Category -->
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      @for (category of Categories | keyvalue;track category) {
        <mat-option [value]="category.value">{{ category.value | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!--TODO add documents ? boarding pass, tickets-->

  <div class="btn-submit-wrapper">
    <button
      mat-mini-fab
      color="primary"
      type="submit"
    >
      <mat-icon>{{ Icons.ARROW_FORWARD }}</mat-icon>
    </button>
  </div>
</form>
