<div class="travels-container">

  <app-header title="Travels" [isBackNavigation]="false"/>

  <div class="container__button container__button-right">
    <button mat-flat-button color="primary" routerLink="add">
      Add new travel
    </button>
  </div>

  <ul class="travel__list list" [@listAnimation]="travelList.length">
    @for (travel of travelList();track travel.id) {
      <li @deleteAnimation>
        <app-travel-card
          [travel]="travel"
          (onClick)="navigateToTravelDetail($event)"
          (onEdit)="editTravel($event)"
          (onDelete)="deleteTravel($event)"
        />
      </li>
    } @empty {
      <li>There are not travels.</li>
    }
  </ul>

</div>
