.nav-bar {
  width: 100%;
  height: var(--navbar-height);

  ul {
    height: inherit;
    padding-inline: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  a.active {
    color: var(--bg-color-primary);
  }

}
