$color: #000;
$bg-color-input: rgba(#FFF, 0.9);
$bg-color-primary: var(--bg-color-primary);
$input-outline-clr: blue;
$input-border-clr: grey;

.form-search-address {
  display: flex;
  align-items: center;
  position: relative;

  .icon-left {
    position: absolute;
    left: .5rem;
  }

  .search {
    height: 40px;
    width: 100%;
    border-radius: 23px;
    background: $bg-color-input;
    padding-inline-start: 2.5rem;
    padding-inline-end: 1rem;
    border: none;
    color: $color;
    outline-color: $input-outline-clr;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  }

  &.active {
    background: inherit;

    .search {
      box-shadow: none;
    }
  }
}

