$color: #000;
$bg-color-input: rgba(#FFF, 0.9);
$bg-color-primary: var(--bg-color-primary);
$input-outline-clr: blue;
$input-border-clr: grey;

.form-container {
  height: 46px;
  display: flex;
  gap: .5rem;
  align-items: center;
  padding-inline: 1rem;
  border-radius: var(--border-radius);
  background: $bg-color-primary;

  button {
    border: none;
    background: inherit;
  }
}

.form-search-address {
  height: 24px;
  width: 100%;

  .search {
    width: inherit;
    border: none;
    color: $color;
    background: inherit;
    outline-color: $input-outline-clr;
  }

  &.active {
    background: inherit;

    .search {
      box-shadow: none;
    }
  }
}

