$color-primary: var(--color-text-primary);
$bg-color-primary: var(--bg-color-primary);
$border-radius-1: var(--border-radius-1);
$input-outline-clr: blue;

.form-container {
  height: 46px;
  display: flex;
  gap: .5rem;
  align-items: center;
  padding-inline: 1rem;
  background: $bg-color-primary;
  border-radius: $border-radius-1;

  button {
    background: inherit;
    border: none;
  }
}

.form-search-address {
  height: 24px;
  width: 100%;

  .search {
    width: inherit;
    color: $color-primary;
    background: inherit;
    border: none;
    outline-color: $input-outline-clr;
  }

}

