<div class="page-container">

  <app-map [markers]="markers"/>

  <!--  Add expanded only on mobile-->
  <!-- ASIDE full page when travels routes -->
  <!--  <aside [class.page]="isTravelRoute$ | async">-->
  <aside [class.page]="false">
    <div class="aside-wrapper" [class.expanded]="searchFocused()">

      <!--    can display the search input if home page-->
      <div
        class="search-input-container"
        [hidden]="false"
        [class.expanded]="searchFocused()"
      >
        <div (keydown.escape)="closeSearchPanel()">
          <app-search-address-form [searchIsFocused]="searchFocused()" (addressResult)="getLookupAddress($event)"/>

          @if (searchFocused()) {
            <app-address-list [addressList]="addressList"
                              (selectAddress)="onSelectedAddress($event)"/>
          }
        </div>
      </div>

      <router-outlet/>
    </div>

  </aside>
</div>

