<div class="home-container">
  <aside [class.page]="!isHomePage()">

    <div class="aside-wrapper">

      @if (isHomePage()) {
        @if (displayOverlayTravel()) {
          <!-- Display when overlay travel detail is displayed -->
          <button class="back-button" mat-icon-button (click)="backToTravelDetailPage()">
            <mat-icon>{{ Icons.ARROW_BACK }}</mat-icon>
          </button>
        } @else {
          <app-omnibox-search (selectAddress)="onSelectedAddress($event)"/>
        }
      }

      <div class="router-container">
        <router-outlet/>
      </div>

    </div>

  </aside>

  <app-map class="map" [markers]="markers()"/>

  @if (displayOverlayTravel()) {
    <app-overlay-travel-detail
      @bottomSheetAnimation
      class="overlay"
      [travel]="overlayTravelData()"
      (clearTravel)="clearTravelAndHisMarkers()"
    />
  }
</div>

