<div class="home-container">
  <aside [class.page]="!isHomePage()">

    <div class="aside-wrapper">

      @if (isHomePage()) {
        <app-omnibox-search (selectAddress)="onSelectedAddress($event)"/>
      }

      <div class="router-container">
        <router-outlet/>
      </div>

    </div>

  </aside>

  <app-map class="map" [markers]="markers()"/>

  @if (overlayTravelStepData() && isMobile() && isHomePage()) {
    <app-overlay-travel-detail
      @bottomSheetAnimation
      class="overlay"
      [travelDetail]="overlayTravelStepData()"
    />
  }
</div>

