/* You can add global styles to this file, and also import other style files */

:root {
  --navbar-height: 3.75rem;
  --bg-color-primary: #FFF;
}

* {
  margin: 0;
  padding: 0
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  color: unset;
}

.main-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  main {
    overflow: auto;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.btn-submit-wrapper {
  margin-block-start: 1.25rem;
  width: 100%;
  text-align: right;
}

.f-lighter {
  font-weight: lighter;
}

.text-secondary {
  color: gray;
}

.sub-text {
  font-size: 0.9rem;
}
